/* 헤더 */
#hd{
    position: fixed; 
    top: 0; left: 0; 
    width: 100%;
    height: auto;
    background: transparent;
    transition: .3s;
    z-index: 10; 
}
.hd_wrap{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 29px 150px; 
    transition: .3s;
}
.hd_logo{
    float: left;
    width: 182px; 
    height: 20px;
}
.hd_logo a{
    display:block; 
    width: 100%; 
    height: 100%; 
    background: url(/naver_cloud/img/main_logo_w.svg) no-repeat;
    background-size: contain;
    text-indent: -9999px; 
}
#gnb{
    position: relative;
    float: right;
}
#gnb>ul{
    display: inline-block;
    vertical-align: middle;
}
#gnb>ul>li{
    float: left;
    padding: 0 24px;
}
#gnb>ul>li>a{
    display: block;
    position: relative;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.3;
    transition: .3s;
}
#gnb ul li.outlink{
    padding: 0 12px 0 24px;
}
#gnb ul li.outlink a i{
    display: inline-block;
    width: 24px; 
    height: 24px; 
    background: url(/naver_cloud/img/outlink_icon.png) no-repeat center center;
    background-size: contain;
    opacity: 0;
    color: transparent;
    text-indent: -9999px;
}
#gnb ul li.outlink a:hover i{
    opacity: 1;
}
#gnb>ul>li:hover a{
    color: #03c75a;
}
#gnb>ul>li.active a{
    color:#03c75a
}
#gnb>ul>li.active a::after{
    content: ''; 
    display: block; 
    margin-top: 10px; 
    border-bottom: 2px solid #03c75a;
}
.lang_menu{
    display: inline-block;
    position: relative;
    padding-left: 60px;
    vertical-align: top;
    cursor: pointer;
}
.lang_menu .lang_btn{
    width:24px; 
    height:24px; 
    background: url(/naver_cloud/img/global_icon_w.png) no-repeat; 
    background-size: cover; 
    color: transparent;
    text-indent: 9999px;
}
.lang_menu .lang_btn:hover{
    width:24px; 
    height:24px; 
    background: url(/naver_cloud/img/global_icon_g.png) no-repeat;
    background-size: cover; 
}
.lang_list{
    display: none;
    position: absolute;
    top: 40px; right: 0;
    width: 85px;
    padding: 12px;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
}
.lang_list.active{
    display: block;
}
.lang_list li{
    margin-bottom: 4px;
    text-align: center;
}
.lang_list li a{
    display: block;
    padding: 8px 16px;
    background-color: #fff;
    border-radius: 4px;
    font-size: 14px;
    color: #1e1e1e;
    text-align: center;
}
.lang_list li a:hover{
    background-color: #f3f3f3;
}
.lang_list li a.active{
    color: #fff !important;
    background-color: #03c75a;
}
.lang_list li a.en{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
}
.lang_list li a.jp{
    font-weight: 600;
}
.toggle_menu{
    display: none;
    position: absolute;
    right: 0; top: -6px;
    width: 32px;
    height: 32px;
    z-index: 15;
}
.toggle_menu span{
    display: block;
    position: absolute;
    top: 8px; left: 6px;
    width: 20px;
    height: 2px;
    background: #fff;
}
.toggle_menu span:nth-child(2){
    top: 15px;
}
.toggle_menu span:nth-child(3){
    top: 22px;
}
#top_btn{
    display: none;
    position: fixed;
    right: 50px; bottom: 50px;
    width: 60px;
    height: 60px;
    margin: 0;
    background: url(/naver_cloud/img/top_btn.png) no-repeat center;
    background-size: cover;
    color: transparent;
    text-indent: -9999px;
    z-index: 20;
    transition: .3s;
}
#top_btn:hover{
    background: url(/naver_cloud/img/top_btn_hover.png) no-repeat center;
    background-size: cover;
}
/* 스크롤 시 변화 */
#hd.scroll .hd_wrap{
    background-color: #fff;
    z-index: 100;
}
#hd.scroll .hd_logo a{
    background: url(/naver_cloud/img/main_logo.svg) no-repeat;
    background-size: contain; 
}
#hd.scroll #gnb>ul>li>a{
    color: #aaa;
}
#hd.scroll #gnb>ul li a:hover{
    color: #03c75a;
}
#hd.scroll #gnb ul li.active a{
    color: #03c75a;
}
#hd.scroll .lang_menu .lang_btn{
    background: url(/naver_cloud/img/global_icon_b.png) no-repeat;
    background-size: contain; 
}
#hd.scroll .lang_menu .lang_btn:hover{
    background: url(/naver_cloud/img/global_icon_g.png) no-repeat;
    background-size: contain;
}
#hd.scroll .toggle_menu span{
    background: #1e1e1e;
}
#hd.scroll #top_btn{
    display: block;
}


/* 섹션1 - 메인배너 */
.sec1{
    width: 100%; 
    height: 100vh;
}
.swiper-container{
    width: 100%; 
    height: 100vh;
    position: relative;
}
.swiper-slide.slide2{
    background: url(/naver_cloud/img/slide_img01.jpg) no-repeat center center;
    background-size: cover;
}
.swiper-slide.slide3{
    background: url(/naver_cloud/img/slide_img02.jpg) no-repeat center center;
    background-size: cover;
}
.swiper-slide .slide_img .dark{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    z-index: 15;
    color: transparent;
    text-indent: -9999px;
}
.swiper-slide .slide_txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 150px;
    z-index: 20;
    transition: .3s;
    box-sizing: border-box;
}
.slide_txt h2{
    color: #fff;
    font-size: 48px;
    line-height: 68px;
    letter-spacing: -1px;
}
.slide_txt .txt_btn{
    display: inline-block;
    position: relative;
    width: auto;
    height: 54px;
    padding: 0 55px 0 36px;
    margin-top: 30px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 100px;
    box-sizing: border-box;
    color: #fff;
    font-size: 15px;
    line-height: 54px;
    text-align: center;
    transition: .3s;
}
.slide_txt .txt_btn::after{
    content: '';
    position: absolute;
    top: 14px; right: 26px;
    width: 24px;
    height: 24px;
    background: url(/naver_cloud/img/outlink_icon.png)no-repeat;
    background-size: cover;
    transition: .3s;
}
.slide1 .slide_txt .img_btn{
    display: block;
    width: 299px;
    height: 46px;
    margin-top: 30px;
    background: url(/naver_cloud/img/main_slide_btn.png) no-repeat;
    background-size: contain;
    border: 1px solid transparent;
    text-indent: -100000px;
}
.slide1 .slide_txt .img_btn:hover{
    background: url(/naver_cloud/img/main_slide_btn_on.png) no-repeat;
    background-size: contain;
}
.slide_txt a:hover{
    border: 1px solid #fff;
}
.slide_btn{
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 48px;
    padding: 0 150px;
    box-sizing: border-box;
    z-index: 30;
}
.slide_btn .swiper-button-prev{
    display: inline-block;
    position: relative;
    top: auto;
    left: auto;
    width: 48px;
    height: 48px;
    margin-top: 0;
    background-image: url(/naver_cloud/img/main_prev_btn_w.png);
    background-size: cover;
    cursor: pointer;
    transition: .3s;
}
.slide_btn .swiper-button-next{
    display: inline-block;
    position: relative;
    top: auto;
    right: auto;
    width: 48px;
    height: 48px;
    margin: 0 0 0 20px;
    background-image: url(/naver_cloud/img/main_next_btn_w.png);
    background-size: cover;
    cursor: pointer;
    transition: .3s;
}
.slide_btn .swiper-button-prev:hover{
    background-image: url(/naver_cloud/img/main_pre_btn.png);
    background-size: cover;
}
.slide_btn .swiper-button-next:hover{
    background-image: url(/naver_cloud/img/main_next_btn.png);
    background-size: cover;
}
.swiper-pagination-fraction{
    display: inline-block;
    margin-left: 20px;
    position: absolute;
    left: auto;
    bottom: auto;
    color: #fff;
}
.swiper-pagination span{
    font-family: 'Calibre-webfont', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 48px;
}
.swiper-pagination span.swiper-pagination-current{
    padding-right: 10px;
}
.swiper-pagination span.swiper-pagination-total{
    padding-left: 10px;
    position: relative;
}
.bottom_btn{
    position: absolute;
    bottom: 66px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
}
.bottom_btn a{
    display: block;
    width: 64px;
    height: 62px;
    background: url(/naver_cloud/img/down_arrow_w.png) no-repeat center center;
    background-size: contain;
    outline: none;
    border: none;
    text-indent: -9999px;
    cursor: pointer;
    -webkit-animation: arrowMove 1.6s infinite;
    animation: arrowMove 1.6s infinite;
    transition: .3s;
}
@keyframes arrowMove {
    0%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -moz-transform: translateY(8px);
        -ms-transform: translateY(8px);
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
  }
.bottom_btn:hover a{
    display: block;
    width: 64px;
    height: 62px;
    background: url(/naver_cloud/img/down_arrow_g.png) no-repeat center center;
    background-size: contain;
    cursor: pointer;
}


/* 섹션2 - 소개 바로가기*/
.sec2{
    width: 100%;
    height: 100%;
}
.sec2 .container{
    max-width: 1476px;
    height: 100%;
    padding: 142px 90px 152px;
    margin: 0 auto;
    box-sizing: border-box;
}
.sec_txt.center{
    text-align: center;
    opacity: 0;
}
.sec_txt p{
    margin-bottom: 36px;
    color: #1e1e1e;
    font-size: 18px;
    line-height: 20px;
}
.sec_txt h2{
    margin-bottom: 48px;
    color: #aaa;
    font-size: 42px;
    line-height: 60px;
    letter-spacing: -1px;
}
.sec_txt h2 em{
    color: #1e1e1e;
}
.sec_txt a{
    display: inline-block;
    padding: 0 40px;
    background: #1e1e1e;
    border-radius: 100px;
    color: #fff;
    font-size: 15px;
    line-height: 54px;
    text-align: center;
    transition: .3s;
}
.sec_txt a:hover{
    background: #03c75a;
}


/* 섹션3 - 서비스 바로가기*/
.sec3{
    width: 100%;
    background-color: #f9f9f9;
}
.sec3 .container{
    max-width: 1476px;
    margin: 0 auto;
    padding: 0 90px;
    overflow: hidden;
    box-sizing: border-box;
}
.sec3_left{
    width: 50%;
    float: left;
    padding: 190px 0;
    opacity: 0;
}
.sec3_right{
    width: 46%;
    float: right;
    opacity: 0;
}
.sec3_right .scroll_img_wrap{
    width: 100%;
    position: relative;

}
.sec3_right ul{
    display: inline-block;
    width: 47%;
    height: calc(352px * 36);
}
.scroll_img_left{
    position: absolute;
    left: 0;
    margin-right: 6%;
}
.scroll_img_right{
    position: absolute;
    right: 0;
    top: -100px;
}
.sec3_right ul li{
    position: relative;
    width: 100%;
    margin-top: 32px;
}
.sec3_right ul li img{
    width: 100%;
    border-radius: 24px;
}
.sec3_right ul li span{
    position: absolute;
    top: 50%; left: 0;
    transform: translate(0, -50%);
    width: 100%;
    color: #fff;
    font-size: 24px;
    font-family: 'Calibre-webfont', sans-serif;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0;
    text-align: center;
}
.sec3_right .scroll_img{
    animation: verticalscroll 180s linear infinite;
}
@keyframes verticalscroll {
	0% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
	100% {
        -moz-transform: translateY(-8448px);
        -ms-transform: translateY(-8448px);
        -webkit-transform: translateY(-8448px);
        transform: translateY(-8448px)
    }
}


/* 섹션4 - IT 생태계 바로가기*/
.sec4{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.sec4 .container{
    max-width: 1476px;
    height: 100vh; /* 다시확인필요 */
    padding: 0 90px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
}
.sec4_bg{
    position: absolute;
    top: 0; left: 0;
    height: 100%;
}
.sec4_bg .dark{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    text-indent: -10000px;
}
.sec4_bg video{
   min-width: 100%;
   min-height: 100%;
}
.sec4_left{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
}
.sec_txt.white{
    display: block;
    z-index: 20;
}
.sec_txt.white p{
    color: #fff;
}
.sec_txt.white h2{
    color: #fff;
}
.sec_txt .btn_tp{
    background: transparent;
    border: 1px solid #fff;
}
.sec_txt .btn_tp:hover{
    background: #03c75a;
    border: 1px solid transparent;
}
.sec4_right{
    position: absolute;
    top: 50%; right: 250px;
    transform: translateY(-50%); 
    width: 360px;
    height: 360px;
    transition: all 1.5s ease;
    opacity: 0;
}
.sec4_right img{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.3);
    z-index: 1;
    transition: all 1.5s ease; 
}
#section4.active .sec4_right{
    opacity: 1;
}
#section4.active .sec4_right img{
    transform: scale(1);
}


/* 섹션5 - 새로운 소식 더보기*/
.sec5{
    position: relative;
    width: 100%;
}
.sec5 .container{
    max-width: 1476px;
    height: 100%;
    padding: 202px 90px 120px;
    margin: 0 auto;
    box-sizing: border-box;
}
.sec5 .sec_txt{
    opacity: 0;
}
.news{
    text-align: center;
    opacity: 0;
}
.news ul{
    display: flex;
    margin-bottom: 48px;
}
.news ul li{
/*     width: calc(25% -24px); */
    margin-right: 32px;
}
.news ul li:last-child{
    margin: 0;
}
.news ul li a{
    display: inline-block;
}
.news ul li a:hover .txt_box h4{
    color: #03c75a;
}
.news ul li a:hover .img_box .dark_img{
    opacity: 0.5;
}
.img_box{
    position: relative;
}
.img_box .dark_img{
    display: block;
    position: absolute;
    top: 0; left: 1px;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    background: #1e1e1e;
    text-indent: -9999px;
    transition: .3s;
    opacity: 0;
}
.img_box img{
    display: block;
    width: 100%;
    border-radius: 24px;
    transition: .3s;
    border: 1px solid #eee;
}
.txt_box h4{
    margin: 20px 0;
    color: #1e1e1e;
    font-size: 18px;
    line-height: 24px;
    transition: .3s;
    text-align: left;
}
.txt_box p{
    display: block;
    color: #aaa;
    font-family: 'Calibre-webfont', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0;
    text-align: left;
}
.news .btn_bk{
    display: inline-block;
    padding: 0 40px;
    background-color: transparent;
    border: 1px solid #1e1e1e;
    border-radius: 100px;
    box-sizing: border-box;
    color: #1e1e1e;
    font-size: 15px;
    line-height: 54px;
    transition: .3s;
    text-align: center;
}
.news .btn_bk:hover{
    background: #03c75a;
    border: 1px solid transparent;
    color: #Fff;
}
.notice{
    display: flex;
    margin-top: 90px;
    opacity: 0;
}
.notice_box{
    display: inline-block;
    position: relative;
    width: calc(50% - 16px);
    margin-right: 32px;
    padding: 28px 28px 32px 36px;
    background: #03c75a;
    border-radius: 24px;
}
.notice_box:nth-child(2){
    margin: 0;
    background: #07b4eb;
}
.notice_box span{
    display: block;
    margin-bottom: 18px;
    color: #fff;
    font-family: 'Calibre-webfont', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0;
}
.notice_box p{
    color: #fff;
    font-size: 20px;
    line-height: 30px;
}
.notice_box .btn_bk{
    display: inline-block;
    position: absolute;
    bottom: 32px; right: 28px;
    padding: 0 40px;
    background: #1e1e1e;
    border-radius: 100px;
    color: #fff;
    font-size: 15px;
    line-height: 46px;
    text-align: center;
    transition: .3s;
}
.notice_box a:hover{
    background-color: #fff;
    color: #000;
}


/* 푸터 */
#ft{
    background-color: #f9f9f9;
}
.ft_wrap{
    display: flex;
    position: relative;
    max-width: 1476px;
    margin: 0 auto;
    padding: 50px 90px;
    box-sizing: border-box;
}
.ft_left{
    flex-grow: 1;
}
.ft_left h1 a{
    display:block; 
    width: 164px;
    height: 100%; 
    background: url(/naver_cloud/img/footer_logo.png) no-repeat;
    background-size: contain;
    text-indent: -9999px; 
}
.ft_txt{
    margin: 30px 0 20px;
}
.ft_txt p{
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    color: #aaa;
}
.ft_txt .en{
    font-size: 14px;
    font-weight: 400;
}
.ft_link{
    display: inline-flex;
    margin-right: 4%;
}
.ft_link a{
    display: block;
    margin-right: 24px;
    font-size: 14px;
    line-height: 1;
    color: #999;
    transition: .3s;
}
.ft_link a:nth-child(2){
    margin: 0;
}
.ft_sns{
    display: inline-flex;
}
.ft_sns ul li{
    display: inline-block;
    margin-right: 24px;
}
.ft_sns ul li a{
    display: block;
    font-size: 14px;
    line-height: 1;
    color: #ccc;
    transition: .3s;
}
.ft_link a:hover{
    color: #03c75a;
}
.ft_sns ul li a:hover{
    color: #03c75a;
}
.ft_right{
    flex-shrink: 0;
}
.fam_site>a{
    display: inline-block;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 42px 0 14px;
    background: #999;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    transition: .3s;
    letter-spacing: -0.3px;
}
.fam_site>a>i{
    display: inline-block;
    position: absolute;
    top: 13px; right: 14px;
    width: 14px;
    height: 14px;
    background: url(/naver_cloud/img/footer_open.png)no-repeat center;
    background-size: cover;
    transition: .3s;
}
.fam_site>a>i.active{
    transform: rotate(45deg);
}
.fam_site>a:hover{
    background: #1e1e1e;
}
.fam_site>a.active{
    background: #1e1e1e;
}
.fam_site{
    position: relative;
}
.fam_site ul{
    display: none;
    position: absolute;
    bottom: 48px;
    width: 100%;
    padding: 8px 0;
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: #fff;
    text-align: left;
}
.fam_site ul.active{
    display: block;
}
.fam_site ul li{
    position: relative;
    padding: 6px 14px;
}
.fam_site ul li a{
    display: block;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: -0.3px;
    color: #1e1e1e;
    transition: .3s;
}
.fam_site ul li a::after{
    content: '';
    display: block;
    position: absolute;
    top: 0; right: 10px;
    width: 24px;
    height: 24px;
    background: url(/naver_cloud/img/outlink_icon.png) no-repeat center;
    background-size: cover;
    transition: .3s;
    opacity: 0;
}
.fam_site ul li a:hover{
    color: #03c75a;
}
.fam_site ul li a:hover::after{
    opacity: 1;
}


/* 타이틀 애니메이션 */
#section2.effect .sec_txt{
    -webkit-animation: 1.2s movetop ease-out forwards;
    animation: 1.2s movetop ease-out forwards;
    animation-delay: .5s;
}
#section3.effect .sec3_left{
    -webkit-animation: 1.2s movetop ease-out forwards;
    animation: 1.2s movetop ease-out forwards;
    animation-delay: .3s;
}
#section3.effect .sec3_right{
    -webkit-animation: 1.2s moveshow ease-out forwards;
    animation: 1.2s moveshow ease-out forwards;
    animation-delay: .5s;
}
#section5.effect .sec_txt{
    -webkit-animation: 1.2s movetop ease-out forwards;
    animation: 1.2s movetop ease-out forwards;
    animation-delay: .5s;
}
#section5.effect .news{
    -webkit-animation: 1.2s movetop ease-out forwards;
    animation: 1.2s movetop ease-out forwards;
    animation-delay: .8s;
}
#section5.effect .notice{
    -webkit-animation: 1.2s movetop ease-out forwards;
    animation: 1.2s movetop ease-out forwards;
    animation-delay: 1.2s;
}
@keyframes movetop {
    0% {
        opacity: 0;
        -moz-transform: translateY(40px);
        -ms-transform: translateY(40px);
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0)}
}
@keyframes moveshow {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


/* 태블릿 & 모바일 */
@media all and (max-width: 1600px){
    #hd .hd_wrap{
        margin: 0 auto;
        padding: 29px 90px;
        max-width: 1476px;
    }
    .swiper-slide .slide_txt{
        margin: 0 auto;
        padding: 0 90px;
        max-width: 1476px;
        width: 100%;
    }
}
@media all and (max-width: 1280px){
    #hd .hd_wrap{
        padding: 22px 90px;
    }
    #hd .logo{
        width: 144px;
        height: 17px;
    }
    .scroll #hd .logo a {
        width: 144px;
        height: 17px;
    }
    #gnb ul{
        display: none;
    }
    .lang_menu{
        margin-left: 0;
        position: absolute;
        top: -2px;
        right: 46px;
    }
    .toggle_menu{
        display: block;
    }
    .sec_txt a{
        position: relative;
        padding: 0 44px 0 26px;
        background: #1e1e1e;
    }
    .sec_txt a::after{
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 18px;
        right: 18px;
        background: url(/naver_cloud/img/mo_link_def.png)no-repeat center;
        background-size: cover;
    }
    .sec4_right{
        right: 30px;
    }
    .notice_box .btn_bk{
        margin-top: 15px;
        position: relative;
        bottom: auto;
        right: auto;
    }
}   
@media all and (max-width: 1024px){
    #hd .hd_wrap{
        padding: 22px 30px;
    }
    .swiper-slide .slide_txt{
        padding: 0 30px;
    }
    .slide_txt h2{
        font-size: 42px;
        line-height: 1.5;
    }
    .sec2 .container{
        padding: 142px 30px 152px;
    }
    .sec_txt h2{
        margin-bottom: 24px !important;
        line-height: 1.3;
    }
    .sec3 .container{
        padding: 0 30px;;
    }
    .sec4_left{
        left: 30px;
    }
    .sec4_right{
        right: 30px;
    }
    .sec5 .container{
        padding: 120px 30px 80px;
    }
    .news ul{
        flex-wrap: wrap;
    }
    .news ul li{
        margin-bottom: 46px;
        width: calc(50% - 16px);
    }
    .news ul li:nth-child(2n){
        margin: 0;
    }
    .news .btn_bk{
        padding: 0 44px 0 26px;
        position: relative;
    }
    .ft_wrap{
        padding: 50px 30px;
    }
}
@media all and (max-width: 767px){
    #hd .hd_wrap{
        padding: 22px 24px;
    }
    .swiper-container{
        width: 100%;
        height: 100vh;
    }
    .swiper-slide .slide_txt{
        padding: 0 24px;
        max-width: none;
    }
    .slide_txt h2{
        font-size: 32px;
    }
    .slide1 .slide_txt .img_btn{
        margin-top: 24px;
        width: 246px;
        height: 42px;
    }
    .slide_btn{
        padding: 0 24px;
        width: 100%;
        height: auto;
        bottom: 24px;
    }
    .sec2 .container{
        padding: 48px 24px 36px !important;
    }
    .btn_bk{
        font-size: 14px;
        line-height: 46px;
    }
    .sec_txt p{
        margin-bottom: 20px !important;
        font-size: 14px !important;
    }
    .sec_txt h2{
        font-size: 24px !important;
    }
    .sec_txt a{
        font-size: 14px;
        line-height: 46px;
    }
    .sec_txt a::after{
        top: 14px;
    }
    .news .btn_bk{
        font-size: 14px;
        line-height: 44px;
    }
    .notice{
        flex-direction: column;
        align-items: center
    }
    .notice_box{
        margin-right: 0;
        margin-bottom: 16px;
        width: 90%;
        border-radius: 12px;
    }
    .sec5 .container{
        padding: 48px 24px 60px;
    }
    .news ul{
        margin-bottom: 16px;
    }
    .news ul li{
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        padding: 16px 0;
        width: 100%;
        border-bottom: 1px solid #eee;
    }
}